{% load static %}
{% load mptt_tags %}

<ul id="sideManu" class="nav nav-tabs nav-stacked">
    {% recursetree categories %}
        {% if node.is_leaf_node %}
        <li>
            <a href="{% url 'category_products' node.slug %}"> {{node.title}} [{{ node.product_set.get_queryset.count }}] </a> 
        </li>
        {% else %}
        <li class="subMenu open">
            <a href=""> {{node.title}} [{{ node.product_set.get_queryset.count }}] </a> 
            <ul>
                <li>
                    <a href="{% url 'category_products' node.slug %}"> Tümü [{{ node.product_set.get_queryset.count }}] </a>
                </li> 
                {{ children }}
            </ul>
        </li>
        {% endif %}
    {% endrecursetree %}
</ul>