<div class="row">
    <div class="span2" style="position: relative;">
        <img src="{{ prd.product.image.url }}" alt="{{ prd.product.title }}" />
        <div style="position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%); rotate: -30deg; color: red; font-size: 30px; font-weight: bolder;">% {{ prd.discount }}</div>
    </div>
    <div class="span4">
        {% if prd.product in latest_products and prd.product.status == 'True' %}
        <h3>New | Available</h3>
        <hr class="soft" />
        {% endif %}
        <h5>{{ prd.product.title }}</h5>
        <p>{{ prd.product.description }}</p>
        <a class="btn btn-small pull-right" href="{% url 'product_detail' prd.product.category.slug prd.product.slug %}">İncele</a>
        <br class="clr" />
    </div>
    <div class="span3 alignR">
        <form class="form-horizontal qtyFrm">
            <h3>{{ prd.product.price|floatformat:2 }}</h3>
            <label class="checkbox">
                <input type="checkbox">Karşılaştır
            </label>
            <br />
            {% if prd.product.status == 'True' %}
            <a href="{% url 'add_cart' prd.product.id%}" class="btn btn-large btn-primary"> Ekle <i class=" icon-shopping-cart"></i></a>
            {% else %}
            <h4>Ürün yayında değil</h4>
            {% endif %}
            {% if prd.product.user_id == request.user.id %}
            <a class="btn btn-large btn-warning" href="{% url 'user_update_product' prd.product.slug %}">Güncelle</a>
            {% else %}
            <a href="{% url 'product_detail' prd.product.category.slug prd.product.slug %}" class="btn btn-large"><i class="icon-zoom-in"></i></a>
            {% endif %}

        </form>
    </div>
</div>
<hr class="soft" />