<div class="row">	  
    <div class="span2">
        <img src="{{ prd.image.url }}" alt="{{ prd.title }}"/>
    </div>
    <div class="span4">
        {% if prd in latest_products %}
        <h3>New | Available</h3>
        <hr class="soft"/>
        {% endif %}				
        <h5>{{ prd.title }}</h5>
        <p>{{ prd.description }}</p>
        <a class="btn btn-small pull-right" href="{% url 'product_detail' prd.category.slug prd.slug %}">İncele</a>
        <br class="clr"/>
    </div>
    <div class="span3 alignR">
    <form class="form-horizontal qtyFrm">
    <h3>{{ prd.price|floatformat:2 }}</h3>
    <label class="checkbox">
        <input type="checkbox">Karşılaştır
    </label><br/>
    
      <a href="{% url 'product_detail' prd.category.slug prd.slug %}" class="btn btn-large btn-primary"> Ekle <i class=" icon-shopping-cart"></i></a>
      <a href="{% url 'product_detail' prd.category.slug prd.slug %}" class="btn btn-large"><i class="icon-zoom-in"></i></a>
    
        </form>
    </div>
</div>
<hr class="soft"/>