<li class="span3">
    <div class="thumbnail">
        <a  href="{% url 'product_detail' prd.category.slug prd.slug %}"><img src="{{ prd.image.url }}" style="height: 160px;" alt="{{ prd.title }}"/></a>
        <div class="caption">
            <h5>{{ prd.title }}</h5>
            <p>{{ prd.keywords|truncatechars:36 }}</p>
            <h4 style="text-align:center">
                {% if prd.user_id == request.user.id %}
                <a class="btn btn-warning" href="{% url 'user_update_product' prd.slug %}">Güncelle</a>
                {% else %}
                <a class="btn" href="{% url 'product_detail' prd.category.slug prd.slug %}"><i class="icon-zoom-in"></i></a>
                {% endif %}
                <a class="btn" href="{% url 'add_cart' prd.id %}">Ekle <i class="icon-shopping-cart"></i></a>
                <a class="btn btn-primary" href="#">{{ prd.price|floatformat:2 }}</a>
            </h4>
        </div>
    </div>
</li>