{% load static %}

<div id="header">
	<div class="container">
	<div id="welcomeLine" class="row">
		{% if user.is_authenticated %}
		<div class="span6">Hoşgeldiniz! <a href="{% url 'user_profile' %}"><strong>{{ user.username }}</strong></a></div>
		{% else %}
		<div class="span6">Merhaba!<strong> Ziyaretçi</strong></div>
		{% endif %}
		<div class="span6">
		<div class="pull-right">
			<a href="product_summary.html"><span class="">Fr</span></a>
			<a href="product_summary.html"><span class="">Es</span></a>
			<span class="btn btn-mini">En</span>
			<a href="product_summary.html"><span>&pound;</span></a>
			<span class="btn btn-mini">$155.00</span>
			<a href="product_summary.html"><span class="">$</span></a>
			<a href="product_summary.html"><span class="btn btn-mini btn-primary"><i class="icon-shopping-cart icon-white"></i> [ 3 ] Itemes in your cart </span> </a> 
		</div>
		</div>
	</div>

	{% include "partials/_navbar.html" %}
    
	</div>
</div>
<!-- Header End====================================================================== -->