{% load static %}

<!-- Sidebar ================================================== -->
<div id="sidebar" class="span3">
    <div class="well well-small">
        <a id="myCart" href="{% url 'cart' %}">
            <img src="{% static 'themes/images/ico-cart.png' %}" alt="cart">{% if request.session.cart_items %}{{ request.session.cart_items }}{% else %}0{% endif %} Ürün <span class="badge badge-warning pull-right">{{ total|floatformat:2 }}</span>
        </a>
    </div>

    {% include "product/partials/_category_list.html" %}

    <br />
    <div class="thumbnail">
        <img src="{% static 'themes/images/products/panasonic.jpg' %}" alt="Bootshop panasonoc New camera" />
        <div class="caption">
            <h5>Panasonic</h5>
            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a>
                <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary"
                    href="#">$222.00</a>
            </h4>
        </div>
    </div><br />
    <div class="thumbnail">
        <img src="{% static 'themes/images/products/kindle.png' %}" title="Bootshop New Kindel" alt="Bootshop Kindel">
        <div class="caption">
            <h5>Kindle</h5>
            <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a>
                <a class="btn" href="#">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary"
                    href="#">$222.00</a>
            </h4>
        </div>
    </div><br />
    <div class="thumbnail">
        <img src="{% static 'themes/images/payment_methods.png' %}" title="Bootshop Payment Methods"
            alt="Payments Methods">
        <div class="caption">
            <h5>Payment Methods</h5>
        </div>
    </div>
</div>
<!-- Sidebar end=============================================== -->