{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="span9">
	<h3>ŞİFRE DEĞİŞTİRME</h3>
	<hr class="soft" />

	<div class="row">
		<div class="span2"> &nbsp;</div>
		<div class="span4">
			<div class="well">
				<form method="POST" novalidate>
					{% csrf_token %}

					{% include "partials/_form.html" %}

					<div class="btn-group" style="display: flex; justify-content: space-between">
						<a href="{% url 'user_profile' %}" class="btn">Geri Dön</a>
						<button type="submit" class="btn btn-success">Güncelle</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock content %}