{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="mainBody">
	<div class="container">
	<div class="row">

        {% include "partials/_sidebar.html" %}
        
	<div class="span9">

    {% include "partials/_breadcrumb.html" %}

	<h3> Products Name <small class="pull-right"> 40 products are available </small></h3>	
	<hr class="soft"/>
	<p>
		Nowadays the lingerie industry is one of the most successful business spheres.We always stay in touch with the latest fashion tendencies - that is why our goods are so popular and we have a great number of faithful customers all over the country.
	</p>
	<hr class="soft"/>
	<form class="form-horizontal span6">
		<div class="control-group">
		  <label class="control-label alignL">Sort By </label>
			<select>
              <option>Priduct name A - Z</option>
              <option>Priduct name Z - A</option>
              <option>Priduct Stoke</option>
              <option>Price Lowest first</option>
            </select>
		</div>
	  </form>
	  
<div id="myTab" class="pull-right">
 <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
 <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
</div>
<br class="clr"/>
<div class="tab-content">
	<div class="tab-pane" id="listView">
        {% for prd in products %}
		<div class="row">	  
			<div class="span2">
				<img src="{{ prd.image.url }}" alt="{{ prd.title }}"/>
			</div>
			<div class="span4">
                {% if prd in latest_products %}
				<h3>New | Available</h3>
				<hr class="soft"/>
                {% endif %}				
				<h5>{{ prd.title }}</h5>
				<p>{{ prd.description }}</p>
				<a class="btn btn-small pull-right" href="product_details.html">İncele</a>
				<br class="clr"/>
			</div>
			<div class="span3 alignR">
			<form class="form-horizontal qtyFrm">
			<h3>{{ prd.price|floatformat:2 }}</h3>
			<label class="checkbox">
				<input type="checkbox">Karşılaştır
			</label><br/>
			
			  <a href="product_details.html" class="btn btn-large btn-primary"> Ekle <i class=" icon-shopping-cart"></i></a>
			  <a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
			
				</form>
			</div>
		</div>
		<hr class="soft"/>
        {% endfor %}
	</div>

	<div class="tab-pane  active" id="blockView">
		<ul class="thumbnails">
			{% for prd in products %}
				{% include "product/partials/_product_card.html" %}
			{% endfor %}
		</ul>
	<hr class="soft"/>
	</div>
</div>

	<a href="compair.html" class="btn btn-large pull-right">Compair Product</a>
	<div class="pagination">
			<ul>
			<li><a href="#">&lsaquo;</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">...</a></li>
			<li><a href="#">&rsaquo;</a></li>
			</ul>
			</div>
			<br class="clr"/>
</div>
</div>
</div>
</div>
<!-- MainBody End ============================= -->
{% endblock content %}